/* You can add global styles to this file, and also import other style files */
body {
  background-image:  url("https://i.imgur.com/RZoEU1f.jpeg");
  font-size: 25px;
  font-variant: small-caps;
}

.mat-tab-label {
  font-size: 35px !important;
}
